// specify input and output folder here
params {
    InputDir = "$baseDir/input_files"
    OutputDir = "$baseDir/output_files"
}

profiles {
    // config for running on UTS HPC
    pbs {
        process {
            withName: fastp{
                executor = 'pbspro'
                queue 'medq'
                memory '30 GB'
                cpus  12
            }
            withName: reformat{
                executor = 'pbspro'
                memory '60 GB'
                cpus 12
                executor 'pbs'
            }
            withName: ntedit_polish{
                executor = 'pbspro'
                queue = 'medq'
                memory = '40 GB'
                cpus = 16
            }
        }
    }

    // config for conda to be used in the workflow
    conda {
        process.conda = "$baseDir/hic-map_and_bin3c.yml"
    }
}