// specify input and output folder here
params {
    InputDir = "$baseDir/input_files"
    OutputDir = "$baseDir/output_files"
}

profiles {
    // config for running on UTS HPC
    pbs {
        process {
            withName: fastp{
                executor = 'pbspro'
                queue 'medq'
                memory '30 GB'
                cpus  12
            }
            withName: reformat{
                executor = 'pbspro'
                memory '60 GB'
                cpus 12
            }
            withName: map_reads{
                executor = 'pbspro'
                queue = 'workq'
                memory = '100 GB'
                cpus = 16
            }
        }
    }

    // config for conda to be used in the workflow
    conda {
        process.conda = "$baseDir/hic-map_and_bin3c.yml"
    }
}