// specify input and output folder here
params {
    InputDir = "$baseDir/input_files"
    OutputDir = "$baseDir/output_files"
}

profiles {
    // config for running on UTS HPC
    pbs {
        process {
            withName: fastp{
                executor = 'pbspro'
                queue = 'medq'
                memory = '10 GB'
                cpus = 8
            }
            withName: mapping_WG{
                executor = 'pbspro'
                queue = 'workq'
                memory = '80 GB'
                cpus = 18
            }
            withName: mapping_SH{
                executor = 'pbspro'
                queue = 'workq'
                memory = '80 GB'
                cpus = 18
            }
            withName: MetaBat2{
                executor = 'pbspro'
                queue = 'medq'
                memory = '50 GB'
                cpus = 16
            }
            withName: varcall_SH{
                executor = 'pbspro'
                queue = 'medq'
                memory = '60 GB'
                cpus = 16
            }
            withName: varcall_SH{
                executor = 'pbspro'
                queue = 'medq'
                memory = '60 GB'
                cpus = 16
            }
        }
    }

    // config for conda to be used in the workflow
    conda {
        process.conda = "$baseDir/shortrd-map_and_bin.yml"
    
    }
}