
params {
    InputDir = "$baseDir/data"
    OutputDir = "$baseDir/output_files"
}

profiles {
    pbs {
        withName: fastp{
            process.executor = 'pbspro'
            process.queue = 'medq'
            process.memory = '10 GB'
            process.cpus = 8
        }
        withName: mapping{
            process.executor = 'pbspro'
            process.queue = 'workq'
            process.memory = '80 GB'
            process.cpus = 18
        }
    }

    conda {
        process.conda = "$baseDir/run_bwa.yml"
    }
}